/* @font-face {
  font-family: Inter;
  src: url("./font/intervar.woff2");
} */

* {
  font-family: Inter, Helvetica, Arial, Liberation Sans, system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    zoom:1;
    margin:0;
}
input,
button,
textarea,
select {
  font: inherit;
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.icon-search {
  width: 1.2em;
  height: 1.2em;
}
.icon-shopping-basket{
  width: 2em;
  height:2em; 
}
/* header section */

header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 25px;
  position: sticky;
  z-index: 1000; /* making header unchangable while scrolling used in blog page */
}
.logo{ 
  width:300px;
  height:50px;
}
.logo img{
  width:100%;
  height:100%;
}
.site-smalllogo{
  display:none;
}
.searchbar{
  width:max-content;
  display:flex;
  align-items:center;
  padding:12px;
  border-radius:24px;
  background:#f5f5f5;
  width:500px;
}
.search-input{
  font-size:16px;
  color:#333333;
  margin-right:12px;
  outline:none;
  border:none;
  background:transparent;
  flex:1;
}
.search-input::placeholder,
.icon-search{
  color:#898989;
}
.userfunction{
  display:flex;
  gap:50px;
  align-items: center;
}
.postitem{
  background:#000000;
  display:flex;
  align-items:center;
  padding:10px;
  border-radius:10px;
}
.icon-plus{
  color:#FFFFFF;
}
.post-btn{
  text-decoration: none;
  color:#FFFFFF;
  font-weight: 600;
  font-size: 16px;
  margin-left:5px;
}
.user-avatar{
  display:flex;
  align-items:center;
  gap:10px;
}
.registration{
  display:flex;
  align-items:center;
  gap:20px;
}
.userprofile{
  font-size:17px;
  width:3em;
  height:3em;
  border-radius:50%;
  background:#009578;
  display:inline-flex;
  align-items:center;
  justify-content:center;
}
.userprofile::after{
  content:attr(data-label);
}
.username{
  font-size:18px;
}
.sign-up,
.login{
  border:1px solid;
  align-items:center;
  padding:10px;
  border-radius:10px;
  background:white;
}
.login:hover,
.sign-up:hover{
  background:#000000;
  color:white;
}
#loginPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  padding: 20px;
  color: white;
  text-align: center;
}

input[type="text"],
input[type="password"] {
  margin: 10px 0;
  padding: 5px;
}
/* main section */

main{
  display:flex;
}

.side-bar{
  width:20%;
  height:100vh;
  padding:20px 10px;
  border-right:1px solid;
}
.category{
    display:flex;
    gap:10px;
    align-items: center;
    justify-content: center;
    width:100%;
    padding-bottom: 10px;
    border-bottom: 1px solid;
  }
.products{
  width:80%;
  /* position:absolute; */
  right:0;
}
.fil-p{
  padding:15px 15px;
  background: none;
  margin: 7px 0;
  cursor:pointer;
  text-align:center;
  width:100%;
  border-bottom: 1px solid;
}
button{
  border:none;
  padding:7px 25px;
}

@media screen and (max-width:900px){
  .logo{
    width:10%;
    height:50px;
  }
  .site-smalllogo{
    display:block;
  }
  .site-logo{
    display:none;
  }
  .cart,
  .postitem,
  .username{
    display:none;
  }
  .side-bar{
    width:100%;
    max-height: fit-content;
    border: none;
  }
  .products{
    width:100%;
  }
  main{
    display: block;
  }
  .fil-p{
    display:none;
  }
  .category{
    justify-content: left;
    border: none;
    margin-left:20px;
  }
}
